
.content
{
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
}

.Col
{
  
  margin-top: 80% ;
  margin-left: 5%;
}

.GB
{
  border: solid #f8f9fa;;
}

.pic
{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-block-start: 0%;
  margin-inline-start: 0%;
  

}