.Footer
{ 
    position: fixed ;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1px;
    background-color:#0693e3;
    color: white;
    text-align: right;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-block-start: 0%;
    margin-inline-start: 0%;
    margin-block-end: 0%;
    padding-inline-end: 0%;
    margin-bottom: 0%;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}